<%- include ('header')-%>
<br>
<br><br>
<br><br>
<br>

<div class="container">
	<div class="row text-center">
		<div class=" col-6 col-md-6 col-sm-12">	
			<a href="/useradmin">
			<br><br><br>
			<div class="btn btn-primary">
				<i class="fas fa-trash-alt"></i>
				<i class="fa fa-plus" aria-hidden="true"> </i>
				<i class="fa fa-cogs"></i>
				<i class="fa fa-trash"></i>
				Utilisateur
			</div>
			<br><br>
			</a>
		</div>
		<div class=" col-6 col-md-6 col-sm-12">
			<a href="/produitadmin">	
			<br><br><br>
			<div class="btn btn-primary">
				<i class="fas fa-trash-alt"></i>
				<i class="fa fa-plus" aria-hidden="true"> </i>
				<i class="fa fa-cogs"></i>
				<i class="fa fa-trash"></i>
				Produits
			</div>
			<br><br>
		</div>
	</div>
	
</div>


<br>
<br><br>



<%- include ('footer')-%>