<%- include ('header')-%>
<div class="container">
    <div class="col">
        <div class="login_form_inner">
            <form class="row login_form" action="/inscription" method="POST" enctype="multipart/form-data" id="contactForm" novalidate="novalidate">
                <div class="col-md-12 form-group">
                    <img class="rounded-circle" width="50%" src="">
                </div>
                <div class="col-md-12 form-group">
                    <h1>Nom et Prenom</h1>
                    <p></p>
                </div>
                <div class="col-md-12 form-group">
                    <h1>Email</h1>
                    <p></p>
                </div>
                <div class="col-md-12 form-group">
                    <h1>Description</h1>
                    <p></p>
                </div>
            
            </form>
        </div>
    </div>
</div>
<%- include ('footer')-%>